a, button, input, select, h1, h2, h3, h4, h5, * {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

/* esto define el tamaño de la pantalla */
.sign-up-popup-desktop {
  background: #ffffff;
  width: 1440px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

/* esto define el tamaño de la box */
.sign-up-popup-desktop, .sign-up-popup-desktop * {
  box-sizing: border-box;
}

/* esto define la posicion de la imagen derecha */
.rectangle-1084 {
  width: 632px;
  height: 725px;
  position: absolute;
  left: 737px;
  top: 168px;
}

/* define los objetos a la derecha */
.left {
  height: 1080px;
  position: absolute;
  right: 704px;
  left: 0px;
  top: 0px;
}

/* aun no entiendo su funcion */
.image-placeholder {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: hidden;
}

/* imagen de la izquierda */
.paste-image {
  background: linear-gradient(to left, #f3f5f7, #f3f5f7);
  position: absolute;
  right: -15.22%;
  left: 0%;
  width: 115.22%;
  bottom: 16.57%;
  top: 17.5%;
  height: 65.93%;
}